.header-menu {
  // top: -20px;
  position: relative;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 60px;

  margin-bottom: 0;

  // @include md-sm {
  //   grid-template-columns: auto;
  // }
  @include sm {
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px;
  }
}
